@import "variables";

@font-face {
    font-family: "Arial Local";
    src: url($fonts-location + "arial.ttf");
    font-weight: normal;
}
@font-face {
    font-family: "Arial Local";
    src: url($fonts-location + "arial_bold.ttf");
    font-weight: bold;
}

* {
    font-family: "Arial Local", sans-serif;
}
