@import "variables";
@import "fonts";
@import "social";
@import "media_player";
@import "interests_list";
@import "custom";
@import "navbar";
@import "birthday_counter";

body {
	overflow: visible;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;

	background-color: black;
	background-image: url("#{$images-location}/wallpapers/pexels-akos-szabo-145938-440731.jpg");
	background-repeat: repeat;
	background-size: auto;
}

#body-inner {
	z-index: 9999;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	overflow: auto;
	padding: 0;
	margin: 0;
	backdrop-filter: blur(4px) contrast(90%) brightness(50%) grayscale(20%);

	p, h1, h2, h3, h4, h5, h6 {
		text-shadow: 2px 2px 2px black;
	}
}

#route-content {
	margin: 10pt;
}

p, h1, h2, h3, h4, h5, h6, span {
	color: white;
}

footer {
	background-color: rgba(0, 0, 0, 0.4);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

hr {
	border: 1px solid rgba(80, 80, 80, 0.3);
}

.navbar {
	position: sticky;
	top: 0;
}

