{% extends "base.html" %}

{%- block description -%}
    My contact email
{%- endblock -%}

{% block content %}
    <h3> my e-mail address!! </h3>
    <p> <i> note: this page is extra silly to fight against bots </i> </p>
    <p style="display: inline-block">
        Contact me at
        <span style="color: pink">
            yunaflarf
            <div class="dot_warner"/>
            contact at gmail
            <div class="dot_warner"/>
            com
        </span>
    </p>
{% endblock %}
