{% extends "base.html" %}
{% import "macros/social_button.html" as social_button %}
{% import "macros/media_players.html" as media_players %}

{%- block description -%}
    The FlooferLand website!
{%- endblock -%}

{% block content %}
    {% include "includes/icon.html" %}
    <div class="panel" style="padding: 1.5rem">
        <p> haii i'm Floof. I'm a trans-fem furry software and game developer from Europe! </p>
        <p> I make games, music, art, 3D models, and some other stuff! </p>
    </div>
    
    <div class="panel-grid">
        <div class="panel" style="max-width: 200pt">
            <h3>Music I've made</h3>
            {{ media_players::audio_player(vec![
                "stars remaster.mp3",
                "Mihro boss fight.mp3",
                "enasong.mp3",
                "thingsmaygetbetter.mp3",
                "beepboxwitch.mp3",
            ]) }}
        </div>
        
        <div class="panel birthday_counter">
            <h3>I'm {{floof.age}} years old!</h3>
            <p><sub>My birthday is April 19th 2006!!</sub></p>
            <p><sub>Old.. ancient.. a relic even</sub></p>
        </div>
        
        <div class="panel web-ring">
            <h3>Web ring</h3>

            <a href="/" style="margin: 8px">
                <picture>
                    <source srcset="/assets/branding/webring.webp" type="image/webp" />
                    <img src="/assets/branding/webring.gif" alt="" style="image-rendering: pixelated" />
                </picture>
            </a>

            <a href="https://winnerwind.in" style="margin: 8px">
                <img src="https://assets.winnerwind.in/branding/button.gif" alt="" style="image-rendering: pixelated" />
            </a>
        </div>
    </div>
    
    <hr/>
    <div class="content-split">
        {% let interests = markdown::to_html(include_str!("../../assets/markdown/interests.md")) %}
        <div class="content-main">
            <h3>About me</h3>
            <div class="gradient_text interests_list"> {{ interests|safe }} </div>
        </div>

        <div class="content-sidebar">
            <h3>Socials</h3>
            {% include "includes/socials.html" %}
        </div>
    </div>
{% endblock %}
