@import "compat";

div.audio-player {
	@include compat-gradient(#55555580, #38383880);
	border-bottom: 2px solid rgba(0, 0, 0, 0.9);
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	padding: 10pt;
	width: 200pt;

	sub {
		color: gray;
	}

	iframe {

	}

	details {
		@include compat-gradient(#55555580, #38383880);
		border-bottom: 2px solid #000000e6;
		border-top: 2px solid #ffffff80;
		border-radius: 15px;
		padding: 10pt;
		width: 80%;
		
		summary {
			color: white;
		}
	}
}
