@import "compat";

div.audio-player {
	max-width: 200pt;

	sub {
		color: gray;
	}

	iframe {

	}

	details {
		@include compat-gradient(#2e2e2e80, #13131380);
		border-bottom: 2px solid #000000e6;
		border-top: 2px solid #ffffff80;
		border-radius: 15px;
		padding: 10pt;
		width: 80%;
		
		summary {
			color: white;
		}
	}
}
