@import "variables";
@import "fonts";
@import "social";
@import "audio_player";
@import "interests_list";
@import "custom";
@import "navbar";
@import "birthday_counter";
@import "webring";

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
}

body {
	min-height: 100vh;
	background-color: black;
	background-image: url("#{$images-location}/wallpapers/pexels-akos-szabo-145938-440731.jpg");
	background-repeat: repeat;
	background-size: cover;
}

#body-inner {
	z-index: 9999;
	padding: 0;
	margin: 0;

	backdrop-filter: blur(4px) contrast(90%) grayscale(20%);
	background-color: rgba(0, 0, 0, 0.5);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
    zoom: 1;

	p, h1, h2, h3, h4, h5, h6 {
		text-shadow: 2px 2px 2px black;
	}
}

#route-content {
	padding: 10pt;
}

p, h1, h2, h3, h4, h5, h6, span {
	color: white;
}

a {
	color: #2663ae;
	:visited {
		color: #2663ae;
	}
	:hover {
		color: #478ee4;
	}
}

footer {
	background-color: #00000066;
}

hr {
	border: 1px solid #5050504d;
}

