@import "variables";
@import "compat";
@import "fonts";
@import "social";
@import "audio_player";
@import "interests_list";
@import "custom";
@import "navbar";
@import "birthday_counter";
@import "content";
@import "webring";

// fuck browsers
* {
	margin: 0;
	padding: 0;
}

// compat
.no-details {
	details, summary {
		display: block;
	}

	details > * {
		display: none;
	}

	details > summary {
		display: block;
	}

	details.open > * {
		display: block;
	}
}

body {
	min-height: 100vh;
	background-color: #056aad;
	background-image: url("#{$images-location}/wallpapers/pexels-akos-szabo-145938-440731.jpg");
	background-repeat: repeat;
	background-size: cover;
}

#body-inner {
	z-index: 9999;

	background-color: transparent;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#80000000');
    zoom: 1;
	@supports (backdrop-filter: blur()) {
		backdrop-filter: blur(4px) contrast(90%) grayscale(20%);
	}
}

#route-content {
	padding: 10pt;
}

.panel {
	@include compat-gradient(#55555580, #38383880);
	border-bottom: 2px solid rgba(0, 0, 0, 0.9);
	border-top: 2px solid rgba(255, 255, 255, 0.5);
	border-radius: 20px;
	padding: 10pt;
	margin: 0.3rem;
}
.panel-grid {
	display: flex;
	flex-wrap: wrap;
	margin: -8px;
	> * {
		flex: 1 1 220px;
		margin: 8px;
	}
}

p, h1, h2, h3, h4, h5, h6, span, sub, summary {
	color: white;
}
p, h1, h2, h3, h4, h5, h6 {
	text-shadow: 2px 2px 2px black;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: 0.6rem;
}

li {
	margin-left: 1rem;
	color: white;
}

a {
	color: #2663ae;
	:visited {
		color: #2663ae;
	}
	:hover {
		color: #478ee4;
	}
}

footer {
	padding: 0.3rem;
	background-color: #00000066;
}

hr {
	margin-top: 3pt;
	margin-bottom: 3pt;
	border: 1px solid #5050504d;
}

#hey-gemini-v3 {
	display: none;
}
