@import "compat";

.navbar {
	position: sticky;
	margin: 0;
	top: 0;
	
	ul, ol {
		@include compat-bg-color(#1e1e1e66);
		list-style-type: none;
		padding: 3pt;
		overflow: hidden;
	}
}
li.navbutton {
	@include compat-gradient(#28282866, #4d4d4d66);
	float: left;
	border-radius: 10px;
	border-bottom: 2px solid #0000004d;
	border-top: 2px solid #ffffff1a;
	:hover {
		border-radius: 10px;
		cursor: pointer;
	}
	a {
		display: block;
		color: white;
		text-align: center;
		padding: 8px 24px;
		text-decoration: none;
	}
	a:hover {
		background: #5a5a5a66;
		background: linear-gradient(to top, #5a5a5a66, #36363666);
	}
}
