.socials-button {
	margin: 4pt;
	padding: 8pt !important;
	width: 250pt;
	background: #25252573;  // compat
	background: linear-gradient(to bottom, #25252573, #131313b3);
	border-bottom: 2px solid #000000e6;
	border-top: 2px solid #ffffff80;
	box-shadow: inset 0 5px 5px 5px #ffffff12;
	border-radius: 10pt;
	backdrop-filter: blur(5px);
	
	svg, img {  // Icon
		color: white;
		padding: 0;
		margin-bottom: -5pt;
		margin-right: 5pt;
		text-align: center;
	}
	img {
		filter: invert(100%);
	}
    a {  // Link
	    color: cornflowerblue;
    }
	p, span {  // Description
		padding: 0.2rem;
		color: gray;
	}
}

.socials-list {
    list-style-type: none;
    overflow: hidden;
	margin: 0;
	padding: 0;
}
