$assets-location: "/assets";
$audio-location:  $assets-location + "/audio";
$branding-location:  $assets-location + "/branding";
$emoji-location:  $assets-location + "/emoji";
$fonts-location:  $assets-location + "/fonts";
$icons-location:  $assets-location + "/icons";
$stickers-location:  $assets-location + "/stickers";
$images-location:  $assets-location + "/images";

